<template>
  <section>
    <h2>{{ username }}</h2>
    <h3>{{ userage }} years</h3>
  </section>
</template>

<script>
export default {
  // prosp:['username','userage']
  props: {
    username: {
      type: String,
      required: true,
    },
    userage: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}
html {
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
}
section {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 1rem;
}
</style>
