<template>
  <section>
    <form @submit.prevent="submit">
      <input text="" placeholder="your name" v-model="enterName" />
      <input text="" placeholder="your age" v-model="enterAge" />
      <button>Add More</button>
    </form>
  </section>
</template>

<script>
export default {
  emits: ["set-data"],
  data() {
    return {
      enterName: "",
      enterAge: "",
    };
  },
  methods: {
    submit() {
      this.$emit("set-data", this.enterName, this.enterAge);
    },
  },
};
</script>
