<template>
  <div>
    <active-user
      :username="userData.name"
      :userage="userData.age"
    ></active-user>
    <user-data @set-data="setUserData"></user-data>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userData: {
        name: "Your Name",
        age: 0,
      },
    };
  },
  methods: {
    setUserData(name, age) {
      this.userData = {
        name: name,
        age: +age,
      };
    },
  },
};
</script>
